﻿
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contact in contacts">
            <td>{{contact.contactId}}</td>
            <td>
                <a href="#" 
                    editable-text="contact.firstName" 
                    e-required
                    e-placeholder="Enter first name"
                    onaftersave="updateContact('firstName', contact)">
                    {{ (contact.firstName || 'First name') }}
                </a>
                <a href="#" 
                    editable-text="contact.lastName" 
                    e-required
                    e-placeholder="Enter last name" 
                    onaftersave="updateContact('lastName', contact)">
                    {{ (contact.lastName || 'Last name') }}
                </a>
            </td>
            <td>
                <a href="#" 
                    editable-text="contact.email" 
                    e-required
                    e-placeholder="Enter email" 
                    onaftersave="updateContact('email', contact)">
                    {{ (contact.email || 'Email') }}
                </a>
            </td>
            <td class="text-right">
                <button ng-show="contact.contactId" ng-click="deleteContact(contact)" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>