﻿
<form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="inputName">Name</label>
        <div class="controls">
            <input type="text" class="form-control" id="inputName" placeholder="Jane Doe" ng-model="account.name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPhone">Phone</label>
        <div class="controls">
            <input type="text" class="form-control" id="inputPhone" placeholder="Phone number" ng-model="account.phone">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputURL">Website</label>
        <div class="controls">
            <input type="text" class="form-control" id="inputURL" placeholder="Website" ng-model="account.url">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="account.email">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <br />
            <button ng-click="createOrUpdate()" class="btn btn-small btn-primary">{{createOrUpdateButtonLabel}}</button>
            <button ng-click="createNewUser()" class="btn btn-small btn-primary">Create new account</button>
            <button ng-click="cancel()" class="btn btn-small">Cancel</button>
        </div>
    </div>
</form>
