﻿<!DOCTYPE html>
<html lang="en" ng-app="impact">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title ng-bind="'Impact - ' + $root.title">Impact - @ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/dashboard.css" rel="stylesheet">
    <link href="~/Content/xeditable.css" rel="stylesheet" />

    <!-- Link for angular.js Services -->
    <base href="@Url.Content("~/")" />
    <link id="linkAccount" href="@Url.HttpRouteUrl("DefaultApiGet", new { controller = "Account" })" rel="" />@*Whatever i use DefaultApiGet or DefaultApiPost. It's only to generate the link.*@
    <link id="linkAccountGetAll" href="@Url.HttpRouteUrl("DefaultApiWithAction", new { controller = "Account", action = "GetAll" })" rel="" />
    <link id="linkAccountListContactByAccount" href="@Url.HttpRouteUrl("DefaultApiWithAction", new { controller = "Account", action = "ListContactByAccount" })" rel="" />
    <link id="linkContact" href="@Url.HttpRouteUrl("DefaultApiGet", new { controller = "Contact" })" rel="" />

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Impact</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar" ng-controller="menuCtrl">
                    <li ng-class="activeClass('account')"><a href="#/account">Account List</a></li>
                    <li ng-class="activeClass('account/create')"><a href="#/account/create">Create Account</a></li>
                    <li ng-class="activeClass('account\/(?:\\d*)?\\d+', true, true)"><a href="javascript:;">Edit Account</a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header" ng-bind="$root.title">@ViewBag.Title</h1>
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- /.container -->

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/xeditable.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/services.js"></script>
    <script src="~/Scripts/controllers.js"></script>
</body>
</html>
