﻿
<div class="panel with-nav-tabs panel-default" ng-controller="TabsCtrl">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li ng-repeat="tab in tabs" 
                ng-class="{active:isActiveTab(tab.url)}"
                ng-click="onClickTab(tab)"><a href="javascript:;">{{tab.title}}</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade in active">
            <div class="panel-body" ng-include="currentTab"></div>
        </div>
    </div>
</div>
