﻿<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="account in accountsList">
            <td>{{account.accountId}}</td>
            <td>{{account.name}}</td>
            <td>{{account.phone}}</td>
            <td>{{account.email}}</td>
            <td class="text-right">
                <a class="btn btn-default btn-xs" href="#/account/{{account.accountId}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <button class="btn btn-default btn-xs" ng-click="deleteAccount(account)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>